body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #310b0a;
}
header, footer {
    background-color: rgb(194, 63, 63);
    color: rgb(253, 200, 200);
    text-align: center;
    padding: 0.5rem;
}
nav {
    background-color: rgb(241, 114, 114);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
nav a {
    text-decoration: none;
    color: #310707; 
    font-weight: bold;
}
main {
    padding: 2rem;
    display: flex;
    gap: 3rem;
}
article, aside {
    width: 60%;
}
strong {
    color: #000000;
}
blockquote{
    font-style: italic;
    color: 550c0c;
} 
article {
    background-color: rgb(253, 224, 168);
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    width: 100%;
}
aside {
    background-color: rgb(248, 191, 191);
    padding: 1rem;
    border-left: 4px solid rgb(158, 41, 41);
    border-radius: 7px;
}
aside a {
    text-decoration: none;
    color: #000000;
}
th {
    background-color: rgb(179, 178, 178);
}
th, td {
    border: 1px solid black;
    padding: 0.5rem;
} 
table {
    width: 100%;
    border-collapse: collapse;
}
img {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
}
footer a {
    color: rgb(248, 191, 191);
    text-decoration: none;
} 
table {
    width: 100%;
    color: white;
    background-color: rgb(241, 141, 141);
    border-collapse: collapse;
}
th{
    background-color: rgb(255, 0, 0);
}